.section-services {
  background-color: var(--color-tertiary);
}

.service-section-one,
.service-section-two,
.service-section-three {
  height: 100vh;
  display: flex;
  align-items: center;
}

.section-services__content-box div ul li {
  font-family: var(--font-style-regular);
  font-size: 1.2rem;
  text-transform: capitalize;
}
